<div id="character-page">
    <div class="jumboton jumbotron-fluid">
        <div class="row" id="character-header">
            <div class="col-sm-8">
                <div id="char-name-head">
                    <h4>Character Name:</h4>
                    <h1 id="char-name">{{ dataValues.name }}</h1>
                </div>
            </div>
            <div class="col-sm-4">
                <div id="picture"><img id="d-d-pic" src="/dungeons-dragons-logo.jpg" alt="Dungeons & Dragons" />    
                </div>
            </div>
        </div>
        <div id="build-info" class="build-sheet">
            <h4 class="build-sheet-tops">Class:</h4>
            <h5 class="build-sheet-info">{{dataValues.class}}</h5>
        </div>
    </div>
</div>