<div class="jumboton jumbotron-fluid">
    <div id="character-header">
        <h1>{{ name }}</h1>
    </div>
    <div id="picture"><img id="d-d-pic" src="/dungeons-dragons-logo.jpg" alt="Dungeons & Dragons" /></div>
</div>