{{!-- {{The main title}} --}}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="col-sm-12"> <h1 class="display-4">Character Build</h1>
        </div>
    </div>
</div>

{{!-- {{Image}} --}}

<div class="container">
    <div class="col-sm-12 text-center">
        <img src="https://img.pngio.com/so-you-want-to-play-dungeons-dragons-dungeons-dragons-60-png-480_320.png" />
    </div>
</div>

{{!-- {{Two separate columns which consist of new character build option (column 1) and previous characters (column2) }} --}}

<div class="row">
    <div class="col-sm-6">
        <h2>Start a New Character</h2>
        <input id="input" placeholder="  Enter character name">

        <select id="spells">
            <option value ="Acid-arrow"> Acid arrow</option>
            <option value="Fireball"> Fireball</option>
        </select>
    </div>
</div>

<div class="col-sm-6">
    <h2>Load Previous Builds</h2>
    <ul>
        <li>

    </div>
    <div class="col-sm-6">
        <h2>Load Previous Builds</h2>
        <ul>
        
            
            <li>

            </li>
        </ul>

    </div>
