{{!-- {{The main title}} --}}
<div id="main">
    <div class="jumbotron jumbotron-fluid jumbotron-style text-center"
        style="padding-top: 0.5rem; padding-bottom: 0.5rem">
        <div class="container">
            <div class="col-sm-12">
                <h1 class="display-4">Character Build</h1>
            </div>
        </div>
    </div>

    {{!-- {{Two separate columns which consist of new character build option (column 1) and previous characters (column2) }} --}}


    <div class="container">
        <div class="row">
            <div class="col-sm-6 first-column">
                <h2>Start a New Character</h2>
                <input id="input" placeholder="Enter character name">

                <select id="Class">
                    <option value=""> Class </option>
                </select>

                <select id="Spell">
                    <option value=""> Spells </option>
                </select>

                <select id="race">
                    <option value=""> Race </option>
                </select>

                <select id="lang">
                    <option value=""> Languages </option>

                </select>
            </div>


            <div class="col-sm-6 second-column">
                <h2>Load Previous Builds</h2>

            </div>
        </div>
    </div>
<div class="jumbotron jumbotron-fluid jumbotron-style text-center fixed-bottom"
        style="padding-top: 0.3rem; padding-bottom: 0.3rem; margin-bottom: 0rem">
        <div class="container">
            <div class="col-sm-12">
                <h1 class="display-4">Unleash your imagination!</h1>
            </div>
        </div>
    </div>

</div>